body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 700px;
  background: url("/images/snow-16130.gif");
  background-size: 100% 100%;
}
input {
  display: none;
}
label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
  display: none;
}
.line-1 {
  width: 35px;
  height: 6px;
  display: block;
  background-color: black;
  transition: transform 0.4s ease;
}
.line-2 {
  width: 35px;
  height: 6px;
  display: block;
  background-color: black;
  transition: opacity 0.4s ease;
}
.line-3 {
  width: 35px;
  height: 6px;
  display: block;
  background-color: black;
  transition: transform 0.4s ease;
}
input:checked ~ label > .line-1 {
  transform: rotate(45deg) translate(7px, 7px);
}
input:checked ~ label > .line-2 {
  opacity: 0;
}
input:checked ~ label > .line-3 {
  transform: rotate(-45deg) translate(6px, -7px);
}
input:checked + label > .nav-box {
  left: 0;
  transition: all 0.5s ease;
}
.nav-box {
  width: 200px;
  height: 400px;
  background: linear-gradient(to bottom, rgb(0, 195, 255), rgb(246, 24, 246));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  position: relative;
  left: -100%;
}
.nav-box > a {
  color: black;
  text-decoration: none;

  font-size: 22px;
}
.container-two {
  display: flex;
  justify-content: space-between;
}
.items > a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 25px;
  position: relative;
  z-index: 1;
  padding: 6px;
  margin-top: 0;
}
.items > a:first-child {
  margin-left: 0;
}
.logo > h1 {
  margin-top: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: -65%;
}
.btn {
  height: 35px;
  margin-top: 2px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  padding: 4px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
}
.items > a:hover {
  animation: slide 0.5s forwards;
  animation-direction: alternate;
  transition: all 0.4s ease;
}
.items > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  transition: width 0.4s ease;
  z-index: -1;
  border-radius: 6px;
}
.items > a:hover::before {
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.remo {
  width: 350px;
  height: 400px;
  box-shadow: 0px 0px 16px rgb(246, 24, 246);
  border-radius: 8px;
  position: relative;
  top: 50px;
}
#typed-element {
  width: 200px;
  height: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0px 0px 16px rgb(246, 24, 246);
}
.pro {
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0;
}
.pro::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  transition: width 0.4s ease;
  border-radius: 6px;
}
.pro:hover::before {
  width: 100%;
}
.card1 {
  display: flex;
  justify-content: space-around;
}
.card1 > .one > img {
  width: 350px;
  height: 450px;
  border-radius: 8px;
}

/* copy text */
.card1 > .one {
  position: relative;
}

.card1 > .one::before {
  content: "";
  position: absolute;
  top: 0; /* start from bottom */
  left: 0;
  right: 0;
  height: 0;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  transition: height 0.4s ease;
  z-index: 2; /* now it's above the image */
  /* opacity: 0.7; make it slightly transparent */
  border-radius: 8px;
}

.card1 > .one:hover::before {
  height: 100%;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.4se ease;
}
.card1 > .one:hover .details {
  opacity: 1;
}
.con-container {
  width: 100%;
  height: 600px;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form {
  width: 450px;
  height: 400px;
  /* border: 2px solid white; */

  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  box-shadow: 0px 0px 8px white;

  /* backdrop-filter: blur(3px); */
}
.con-container form label,
.con-container form input {
  display: block;
}
.con-container form label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 8px;
  text-align: left;
}
.con-container form input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2.5px solid black;
  width: 250px;
  padding: 4px;
  margin-top: 10px;
}
::placeholder {
  color: rgb(191, 187, 187);
}
.con-container form textarea {
  outline: none;
  border: 2.5px solid black;
  background-color: transparent;
  width: 250px;
  height: 100px;
  resize: none;
}
.btn1 {
  padding: 12px;
  margin: 6px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  z-index: 1;
}
.btn1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  transition: width 0.4s ease;
  z-index: -1;
  border-radius: 6px;
}
.btn1:hover::before {
  width: 100%;
}
.textar {
  position: relative;
  left: -83px;
}
.footer {
  margin-top: 4px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(246, 24, 246));
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.item-list > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul li {
  list-style: none;
}
.del-partner > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product {
  font-weight: bold;
  font-size: 24px;
}
.social-media > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fa {
  font-size: 25px;
  padding: 5px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
}
.fa-facebook {
  background-color: black;
  color: white;
  transition: background-color 0.4s ease;
}
.fa-facebook:hover {
  background-color: #3b5998;
}
.fa-twitter {
  background-color: black;
  color: white;
  transition: background-color 0.4s ease;
}
.fa-twitter:hover {
  background-color: #55acee;
}
.fa-youtube {
  background-color: black;
  color: white;
  transition: background-color 0.4s ease;
}
.fa-youtube:hover {
  background-color: #bb0000;
}
.fa-instagram {
  background-color: black;
  color: white;
  transition: background-color 0.4s ease;
}
.fa-instagram:hover {
  background: linear-gradient(to bottom, purple, pink, orange);
}

.fa-linkedin {
  background-color: black;
  color: white;
  transition: background-color 0.4s ease;
}
.fa-linkedin:hover {
  background-color: #007bb5;
}
.fa-snapchat-ghost {
  background-color: black;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: background-color 0.4s ease;
}
.fa-snapchat-ghost:hover {
  background: #fffc00;
}
.ham {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.name {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
